<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<h1>My Health</h1>

<div class="container">
  <div class="col-sm-6" id="doctorLogIn">
      <div class="card">
        <div class="card-body">
          <p style="text-align: center;">Doctor Log In</p>
          <form [formGroup]="doctorLogInForm" (ngSubmit)="onSubmit()">
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="staticEmail" formControlName="email">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" formControlName="password">
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="doctorLogInForm.invalid">Log In</button>
          </form>
        </div>
      </div>
  </div>
  <button class="btn btn-secondary" (click)="onClickButton()" >Create New Doctor</button>

<div class="container">
    <div class="col-sm-6" id="patientLogIn">
        <div class="card">
          <div class="card-body">
            <p style="text-align: center;">Patient Log In</p>
        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="staticEmail">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword">
          </div>
        </div>
        <button type="button" class="btn btn-success">Log In</button>
          </div>
        </div>
     </div>
</div>
<button class="btn btn-secondary" (click)="onClickButton()" >Create New Patient</button>